@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EmptyMVCAuthentication01.Models.TestModel
@{
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Welcome to Home/Details</h2>
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    <p>@Html.ActionLink("Back to List", "Index")</p>
</body>
</html>